# 1차 입지선정 순위

In [6]:
import pandas as pd

In [25]:
sinan_older_1km = pd.read_csv('datanew/약국_신안_고령인구(1km).csv',encoding='cp949')
sinan_older_1km

,fid,field_1,Unnamed: 0,약국명_y,주소_y,전화번호,좌표정보(X),좌표정보(Y),월요일 운영,화요일 운영,...,CLUSTER_ID,CLUSTER_SIZE,ringId,distance,fid_2,gid,lbl,val,layer,path
0,4,67,67,구영약국,전라남도 신안군 암태면 중부로 1820-4,061-271-4287,126.114575,34.828926,08:00~20:00,08:00~20:00,...,2,1,1,1000,31194,나라72ab48ba,NaN,NaN,(B100)국토통계_인구정보-고령 인구 수(전체)-(격자) 250M_전라남도 신안군...,C:/Users/yttn0/Desktop/drug/고령 데이터_250M/(B100)...
1,4,67,67,구영약국,전라남도 신안군 암태면 중부로 1820-4,061-271-4287,126.114575,34.828926,08:00~20:00,08:00~20:00,...,2,1,1,1000,31195,나라72ab48bb,NaN,NaN,(B100)국토통계_인구정보-고령 인구 수(전체)-(격자) 250M_전라남도 신안군...,C:/Users/yttn0/Desktop/drug/고령 데이터_250M/(B100)...
2,4,67,67,구영약국,전라남도 신안군 암태면 중부로 1820-4,061-271-4287,126.114575,34.828926,08:00~20:00,08:00~20:00,...,2,1,1,1000,31196,나라72ab49aa,NaN,NaN,(B100)국토통계_인구정보-고령 인구 수(전체)-(격자) 250M_전라남도 신안군...,C:/Users/yttn0/Desktop/drug/고령 데이터_250M/(B100)...
3,4,67,67,구영약국,전라남도 신안군 암태면 중부로 1820-4,061-271-4287,126.114575,34.828926,08:00~20:00,08:00~20:00,...,2,1,1,1000,31197,나라72ab49ab,NaN,NaN,(B100)국토통계_인구정보-고령 인구 수(전체)-(격자) 250M_전라남도 신안군...,C:/Users/yttn0/Desktop/drug/고령 데이터_250M/(B100)...
4,4,67,67,구영약국,전라남도 신안군 암태면 중부로 1820-4,061-271-4287,126.114575,34.828926,08:00~20:00,08:00~20:00,...,2,1,1,1000,31198,나라72ab49ba,NaN,NaN,(B100)국토통계_인구정보-고령 인구 수(전체)-(격자) 250M_전라남도 신안군...,C:/Users/yttn0/Desktop/drug/고령 데이터_250M/(B100)...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166,27,594,594,유한약국,"전라남도 신안군 임자면 임자로 146,",061-275-8288,126.107186,35.086467,08:00~18:00,08:00~18:00,...,1,1,1,1000,32017,나라73bb78aa,NaN,0.0,(B100)국토통계_인구정보-고령 인구 수(전체)-(격자) 250M_전라남도 신안군...,C:/Users/yttn0/Desktop/drug/고령 데이터_250M/(B100)...
167,27,594,594,유한약국,"전라남도 신안군 임자면 임자로 146,",061-275-8288,126.107186,35.086467,08:00~18:00,08:00~18:00,...,1,1,1,1000,32018,나라73bb78ab,NaN,NaN,(B100)국토통계_인구정보-고령 인구 수(전체)-(격자) 250M_전라남도 신안군...,C:/Users/yttn0/Desktop/drug/고령 데이터_250M/(B100)...
168,27,594,594,유한약국,"전라남도 신안군 임자면 임자로 146,",061-275-8288,126.107186,35.086467,08:00~18:00,08:00~18:00,...,1,1,1,1000,32139,나라74aa77ab,NaN,NaN,(B100)국토통계_인구정보-고령 인구 수(전체)-(격자) 250M_전라남도 신안군...,C:/Users/yttn0/Desktop/drug/고령 데이터_250M/(B100)...
169,27,594,594,유한약국,"전라남도 신안군 임자면 임자로 146,",061-275-8288,126.107186,35.086467,08:00~18:00,08:00~18:00,...,1,1,1,1000,32140,나라74aa77ba,NaN,NaN,(B100)국토통계_인구정보-고령 인구 수(전체)-(격자) 250M_전라남도 신안군...,C:/Users/yttn0/Desktop/drug/고령 데이터_250M/(B100)...
170,27,594,594,유한약국,"전라남도 신안군 임자면 임자로 146,",061-275-8288,126.107186,35.086467,08:00~18:00,08:00~18:00,...,1,1,1,1000,32141,나라74aa77bb,NaN,NaN,(B100)국토통계_인구정보-고령 인구 수(전체)-(격자) 250M_전라남도 신안군...,C:/Users/yttn0/Desktop/drug/고령 데이터_250M/(B100)...

In [26]:
sinan_older_1km = sinan_older_1km.fillna(0)
sinan_older_1km

,fid,field_1,Unnamed: 0,약국명_y,주소_y,전화번호,좌표정보(X),좌표정보(Y),월요일 운영,화요일 운영,...,CLUSTER_ID,CLUSTER_SIZE,ringId,distance,fid_2,gid,lbl,val,layer,path
0,4,67,67,구영약국,전라남도 신안군 암태면 중부로 1820-4,061-271-4287,126.114575,34.828926,08:00~20:00,08:00~20:00,...,2,1,1,1000,31194,나라72ab48ba,0.0,0.0,(B100)국토통계_인구정보-고령 인구 수(전체)-(격자) 250M_전라남도 신안군...,C:/Users/yttn0/Desktop/drug/고령 데이터_250M/(B100)...
1,4,67,67,구영약국,전라남도 신안군 암태면 중부로 1820-4,061-271-4287,126.114575,34.828926,08:00~20:00,08:00~20:00,...,2,1,1,1000,31195,나라72ab48bb,0.0,0.0,(B100)국토통계_인구정보-고령 인구 수(전체)-(격자) 250M_전라남도 신안군...,C:/Users/yttn0/Desktop/drug/고령 데이터_250M/(B100)...
2,4,67,67,구영약국,전라남도 신안군 암태면 중부로 1820-4,061-271-4287,126.114575,34.828926,08:00~20:00,08:00~20:00,...,2,1,1,1000,31196,나라72ab49aa,0.0,0.0,(B100)국토통계_인구정보-고령 인구 수(전체)-(격자) 250M_전라남도 신안군...,C:/Users/yttn0/Desktop/drug/고령 데이터_250M/(B100)...
3,4,67,67,구영약국,전라남도 신안군 암태면 중부로 1820-4,061-271-4287,126.114575,34.828926,08:00~20:00,08:00~20:00,...,2,1,1,1000,31197,나라72ab49ab,0.0,0.0,(B100)국토통계_인구정보-고령 인구 수(전체)-(격자) 250M_전라남도 신안군...,C:/Users/yttn0/Desktop/drug/고령 데이터_250M/(B100)...
4,4,67,67,구영약국,전라남도 신안군 암태면 중부로 1820-4,061-271-4287,126.114575,34.828926,08:00~20:00,08:00~20:00,...,2,1,1,1000,31198,나라72ab49ba,0.0,0.0,(B100)국토통계_인구정보-고령 인구 수(전체)-(격자) 250M_전라남도 신안군...,C:/Users/yttn0/Desktop/drug/고령 데이터_250M/(B100)...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166,27,594,594,유한약국,"전라남도 신안군 임자면 임자로 146,",061-275-8288,126.107186,35.086467,08:00~18:00,08:00~18:00,...,1,1,1,1000,32017,나라73bb78aa,0.0,0.0,(B100)국토통계_인구정보-고령 인구 수(전체)-(격자) 250M_전라남도 신안군...,C:/Users/yttn0/Desktop/drug/고령 데이터_250M/(B100)...
167,27,594,594,유한약국,"전라남도 신안군 임자면 임자로 146,",061-275-8288,126.107186,35.086467,08:00~18:00,08:00~18:00,...,1,1,1,1000,32018,나라73bb78ab,0.0,0.0,(B100)국토통계_인구정보-고령 인구 수(전체)-(격자) 250M_전라남도 신안군...,C:/Users/yttn0/Desktop/drug/고령 데이터_250M/(B100)...
168,27,594,594,유한약국,"전라남도 신안군 임자면 임자로 146,",061-275-8288,126.107186,35.086467,08:00~18:00,08:00~18:00,...,1,1,1,1000,32139,나라74aa77ab,0.0,0.0,(B100)국토통계_인구정보-고령 인구 수(전체)-(격자) 250M_전라남도 신안군...,C:/Users/yttn0/Desktop/drug/고령 데이터_250M/(B100)...
169,27,594,594,유한약국,"전라남도 신안군 임자면 임자로 146,",061-275-8288,126.107186,35.086467,08:00~18:00,08:00~18:00,...,1,1,1,1000,32140,나라74aa77ba,0.0,0.0,(B100)국토통계_인구정보-고령 인구 수(전체)-(격자) 250M_전라남도 신안군...,C:/Users/yttn0/Desktop/drug/고령 데이터_250M/(B100)...
170,27,594,594,유한약국,"전라남도 신안군 임자면 임자로 146,",061-275-8288,126.107186,35.086467,08:00~18:00,08:00~18:00,...,1,1,1,1000,32141,나라74aa77bb,0.0,0.0,(B100)국토통계_인구정보-고령 인구 수(전체)-(격자) 250M_전라남도 신안군...,C:/Users/yttn0/Desktop/drug/고령 데이터_250M/(B100)...

In [28]:
sinan_older_1km = sinan_older_1km.groupby(['약국명_y','CLUSTER_ID']).sum('val')
sinan_older_1km

,,fid,field_1,Unnamed: 0,좌표정보(X),좌표정보(Y),CLUSTER_SIZE,ringId,distance,fid_2,lbl,val
약국명_y,CLUSTER_ID,,,,,,,,,,,
구영약국,2,208,3484,3484,6557.957874,1811.104162,52,52,52000,1642563,129.0,129.0
세명약국,0,936,20436,20436,6548.503666,1805.503034,52,52,52000,1331809,164.0,164.0
유한약국,1,1809,39798,39798,8449.181489,2350.793269,67,67,67000,2116034,235.0,235.0

In [29]:
damyang_older_1km = pd.read_csv('datanew/담양_클러스터_고령인구(1km).csv',encoding='cp949')
damyang_older_1km

,fid,field_1,Unnamed: 0,약국명_y,주소_y,전화번호,좌표정보(X),좌표정보(Y),월요일 운영,화요일 운영,...,CLUSTER_ID,CLUSTER_SIZE,ringId,distance,fid_2,gid,lbl,val,layer,path
0,2,42,42,고서약국,전라남도 담양군 고서면 가사문학로 329,061-381-3338,126.973754,35.223375,08:00~19:00,08:00~19:00,...,1,2,1,1000,16556,다라51aa91ba,6.0,6.0,(B100)국토통계_인구정보-고령 인구 수(전체)-(격자) 250M_전라남도 담양군...,C:/Users/yttn0/Desktop/drug/고령 데이터_250M/(B100)...
1,2,42,42,고서약국,전라남도 담양군 고서면 가사문학로 329,061-381-3338,126.973754,35.223375,08:00~19:00,08:00~19:00,...,1,2,1,1000,16557,다라51aa91bb,22.0,22.0,(B100)국토통계_인구정보-고령 인구 수(전체)-(격자) 250M_전라남도 담양군...,C:/Users/yttn0/Desktop/drug/고령 데이터_250M/(B100)...
2,2,42,42,고서약국,전라남도 담양군 고서면 가사문학로 329,061-381-3338,126.973754,35.223375,08:00~19:00,08:00~19:00,...,1,2,1,1000,16558,다라51aa92aa,12.0,12.0,(B100)국토통계_인구정보-고령 인구 수(전체)-(격자) 250M_전라남도 담양군...,C:/Users/yttn0/Desktop/drug/고령 데이터_250M/(B100)...
3,2,42,42,고서약국,전라남도 담양군 고서면 가사문학로 329,061-381-3338,126.973754,35.223375,08:00~19:00,08:00~19:00,...,1,2,1,1000,16559,다라51aa92ab,NaN,NaN,(B100)국토통계_인구정보-고령 인구 수(전체)-(격자) 250M_전라남도 담양군...,C:/Users/yttn0/Desktop/drug/고령 데이터_250M/(B100)...
4,2,42,42,고서약국,전라남도 담양군 고서면 가사문학로 329,061-381-3338,126.973754,35.223375,08:00~19:00,08:00~19:00,...,1,2,1,1000,16560,다라51aa92ba,NaN,NaN,(B100)국토통계_인구정보-고령 인구 수(전체)-(격자) 250M_전라남도 담양군...,C:/Users/yttn0/Desktop/drug/고령 데이터_250M/(B100)...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
402,43,833,833,한재약국,"전라남도 담양군 대전면 추성1로 190,",061-383-2896,126.887137,35.276294,08:30~13:00,08:30~13:00,...,0,2,1,1000,15962,다라45aa98aa,10.0,10.0,(B100)국토통계_인구정보-고령 인구 수(전체)-(격자) 250M_전라남도 담양군...,C:/Users/yttn0/Desktop/drug/고령 데이터_250M/(B100)...
403,43,833,833,한재약국,"전라남도 담양군 대전면 추성1로 190,",061-383-2896,126.887137,35.276294,08:30~13:00,08:30~13:00,...,0,2,1,1000,15963,다라45aa98ab,NaN,0.0,(B100)국토통계_인구정보-고령 인구 수(전체)-(격자) 250M_전라남도 담양군...,C:/Users/yttn0/Desktop/drug/고령 데이터_250M/(B100)...
404,43,833,833,한재약국,"전라남도 담양군 대전면 추성1로 190,",061-383-2896,126.887137,35.276294,08:30~13:00,08:30~13:00,...,0,2,1,1000,15964,다라45aa98ba,NaN,NaN,(B100)국토통계_인구정보-고령 인구 수(전체)-(격자) 250M_전라남도 담양군...,C:/Users/yttn0/Desktop/drug/고령 데이터_250M/(B100)...
405,43,833,833,한재약국,"전라남도 담양군 대전면 추성1로 190,",061-383-2896,126.887137,35.276294,08:30~13:00,08:30~13:00,...,0,2,1,1000,15980,다라45ab97bb,19.0,19.0,(B100)국토통계_인구정보-고령 인구 수(전체)-(격자) 250M_전라남도 담양군...,C:/Users/yttn0/Desktop/drug/고령 데이터_250M/(B100)...
406,43,833,833,한재약국,"전라남도 담양군 대전면 추성1로 190,",061-383-2896,126.887137,35.276294,08:30~13:00,08:30~13:00,...,0,2,1,1000,15981,다라45ab98aa,9.0,9.0,(B100)국토통계_인구정보-고령 인구 수(전체)-(격자) 250M_전라남도 담양군...,C:/Users/yttn0/Desktop/drug/고령 데이터_250M/(B100)...

In [30]:
damyang_older_1km = damyang_older_1km.fillna(0)

In [31]:
damyang_older_1km.groupby(['약국명_y','CLUSTER_ID']).sum('val')

,,fid,field_1,Unnamed: 0,좌표정보(X),좌표정보(Y),CLUSTER_SIZE,ringId,distance,fid_2,lbl,val
약국명_y,CLUSTER_ID,,,,,,,,,,,
고서약국,1,138,2898,2898,8761.189012,2430.412854,138,69,69000,1156312,365.0,365.0
담양유명약국,2,483,10005,10005,8758.294635,2435.824366,138,69,69000,1389770,518.0,518.0
수북좋은약국,2,1273,28676,28676,8504.346160,2365.246931,134,67,67000,1350670,463.0,463.0
우리약국,1,1725,39261,39261,8761.211175,2430.401952,138,69,69000,1156312,365.0,365.0
태원약국,0,2479,50719,50719,8501.492060,2363.538505,134,67,67000,1065202,513.0,513.0
한재약국,0,2838,54978,54978,8374.551029,2328.235437,132,66,66000,1048922,506.0,506.0

In [16]:
sinan_older_3km = pd.read_csv('datanew/약국_신안_고령인구(3km).csv',encoding='cp949')
sinan_older_3km

,fid,field_1,Unnamed: 0,약국명_y,주소_y,전화번호,좌표정보(X),좌표정보(Y),월요일 운영,화요일 운영,...,CLUSTER_ID,CLUSTER_SIZE,ringId,distance,fid_2,gid,lbl,val,layer,path
0,4,67,67,구영약국,전라남도 신안군 암태면 중부로 1820-4,061-271-4287,126.114575,34.828926,08:00~20:00,08:00~20:00,...,2,1,1,3000,30185,나라70ab48aa,NaN,NaN,(B100)국토통계_인구정보-고령 인구 수(전체)-(격자) 250M_전라남도 신안군...,C:/Users/yttn0/Desktop/drug/고령 데이터_250M/(B100)...
1,4,67,67,구영약국,전라남도 신안군 암태면 중부로 1820-4,061-271-4287,126.114575,34.828926,08:00~20:00,08:00~20:00,...,2,1,1,3000,30186,나라70ab48ab,NaN,NaN,(B100)국토통계_인구정보-고령 인구 수(전체)-(격자) 250M_전라남도 신안군...,C:/Users/yttn0/Desktop/drug/고령 데이터_250M/(B100)...
2,4,67,67,구영약국,전라남도 신안군 암태면 중부로 1820-4,061-271-4287,126.114575,34.828926,08:00~20:00,08:00~20:00,...,2,1,1,3000,30187,나라70ab48ba,NaN,NaN,(B100)국토통계_인구정보-고령 인구 수(전체)-(격자) 250M_전라남도 신안군...,C:/Users/yttn0/Desktop/drug/고령 데이터_250M/(B100)...
3,4,67,67,구영약국,전라남도 신안군 암태면 중부로 1820-4,061-271-4287,126.114575,34.828926,08:00~20:00,08:00~20:00,...,2,1,1,3000,30188,나라70ab48bb,8.0,8.0,(B100)국토통계_인구정보-고령 인구 수(전체)-(격자) 250M_전라남도 신안군...,C:/Users/yttn0/Desktop/drug/고령 데이터_250M/(B100)...
4,4,67,67,구영약국,전라남도 신안군 암태면 중부로 1820-4,061-271-4287,126.114575,34.828926,08:00~20:00,08:00~20:00,...,2,1,1,3000,30189,나라70ab49aa,10.0,10.0,(B100)국토통계_인구정보-고령 인구 수(전체)-(격자) 250M_전라남도 신안군...,C:/Users/yttn0/Desktop/drug/고령 데이터_250M/(B100)...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1205,27,594,594,유한약국,"전라남도 신안군 임자면 임자로 146,",061-275-8288,126.107186,35.086467,08:00~18:00,08:00~18:00,...,1,1,1,3000,33037,나라75bb78ab,NaN,NaN,(B100)국토통계_인구정보-고령 인구 수(전체)-(격자) 250M_전라남도 신안군...,C:/Users/yttn0/Desktop/drug/고령 데이터_250M/(B100)...
1206,27,594,594,유한약국,"전라남도 신안군 임자면 임자로 146,",061-275-8288,126.107186,35.086467,08:00~18:00,08:00~18:00,...,1,1,1,3000,33181,나라76aa77ab,NaN,0.0,(B100)국토통계_인구정보-고령 인구 수(전체)-(격자) 250M_전라남도 신안군...,C:/Users/yttn0/Desktop/drug/고령 데이터_250M/(B100)...
1207,27,594,594,유한약국,"전라남도 신안군 임자면 임자로 146,",061-275-8288,126.107186,35.086467,08:00~18:00,08:00~18:00,...,1,1,1,3000,33182,나라76aa77ba,13.0,13.0,(B100)국토통계_인구정보-고령 인구 수(전체)-(격자) 250M_전라남도 신안군...,C:/Users/yttn0/Desktop/drug/고령 데이터_250M/(B100)...
1208,27,594,594,유한약국,"전라남도 신안군 임자면 임자로 146,",061-275-8288,126.107186,35.086467,08:00~18:00,08:00~18:00,...,1,1,1,3000,33183,나라76aa77bb,NaN,NaN,(B100)국토통계_인구정보-고령 인구 수(전체)-(격자) 250M_전라남도 신안군...,C:/Users/yttn0/Desktop/drug/고령 데이터_250M/(B100)...
1209,27,594,594,유한약국,"전라남도 신안군 임자면 임자로 146,",061-275-8288,126.107186,35.086467,08:00~18:00,08:00~18:00,...,1,1,1,3000,33184,나라76aa78aa,NaN,NaN,(B100)국토통계_인구정보-고령 인구 수(전체)-(격자) 250M_전라남도 신안군...,C:/Users/yttn0/Desktop/drug/고령 데이터_250M/(B100)...

In [17]:
sinan_older_3km = sinan_older_3km.fillna(0)

In [18]:
sinan_older_3km.groupby('약국명_y').sum('val')

,fid,field_1,Unnamed: 0,좌표정보(X),좌표정보(Y),CLUSTER_ID,CLUSTER_SIZE,ringId,distance,fid_2,lbl,val
약국명_y,,,,,,,,,,,,
구영약국,1540,25795,25795,48554.111183,13409.136587,770,385,385,1155000,12114389,416.0,416.0
세명약국,7632,166632,166632,53395.491427,14721.793973,0,424,424,1272000,10872407,528.0,528.0
유한약국,10827,238194,238194,50568.981746,14069.673147,401,401,401,1203000,12574199,620.0,620.0

In [19]:
damyang_older_3km = pd.read_csv('datanew/담양_클러스터_고령인구(3km).csv',encoding='cp949')
damyang_older_3km

,fid,field_1,Unnamed: 0,약국명_y,주소_y,전화번호,좌표정보(X),좌표정보(Y),월요일 운영,화요일 운영,...,CLUSTER_ID,CLUSTER_SIZE,ringId,distance,fid_2,gid,lbl,val,layer,path
0,2,42,42,고서약국,전라남도 담양군 고서면 가사문학로 329,061-381-3338,126.973754,35.223375,08:00~19:00,08:00~19:00,...,1,2,1,3000,16286,다라49ab92bb,NaN,NaN,(B100)국토통계_인구정보-고령 인구 수(전체)-(격자) 250M_전라남도 담양군...,C:/Users/yttn0/Desktop/drug/고령 데이터_250M/(B100)...
1,2,42,42,고서약국,전라남도 담양군 고서면 가사문학로 329,061-381-3338,126.973754,35.223375,08:00~19:00,08:00~19:00,...,1,2,1,3000,16287,다라49ab93aa,NaN,NaN,(B100)국토통계_인구정보-고령 인구 수(전체)-(격자) 250M_전라남도 담양군...,C:/Users/yttn0/Desktop/drug/고령 데이터_250M/(B100)...
2,2,42,42,고서약국,전라남도 담양군 고서면 가사문학로 329,061-381-3338,126.973754,35.223375,08:00~19:00,08:00~19:00,...,1,2,1,3000,16288,다라49ab93ab,NaN,NaN,(B100)국토통계_인구정보-고령 인구 수(전체)-(격자) 250M_전라남도 담양군...,C:/Users/yttn0/Desktop/drug/고령 데이터_250M/(B100)...
3,2,42,42,고서약국,전라남도 담양군 고서면 가사문학로 329,061-381-3338,126.973754,35.223375,08:00~19:00,08:00~19:00,...,1,2,1,3000,16289,다라49ab93ba,NaN,NaN,(B100)국토통계_인구정보-고령 인구 수(전체)-(격자) 250M_전라남도 담양군...,C:/Users/yttn0/Desktop/drug/고령 데이터_250M/(B100)...
4,2,42,42,고서약국,전라남도 담양군 고서면 가사문학로 329,061-381-3338,126.973754,35.223375,08:00~19:00,08:00~19:00,...,1,2,1,3000,16315,다라49ba92bb,NaN,NaN,(B100)국토통계_인구정보-고령 인구 수(전체)-(격자) 250M_전라남도 담양군...,C:/Users/yttn0/Desktop/drug/고령 데이터_250M/(B100)...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2950,43,833,833,한재약국,"전라남도 담양군 대전면 추성1로 190,",061-383-2896,126.887137,35.276294,08:30~13:00,08:30~13:00,...,0,2,1,3000,59717,다라43ab95bb,NaN,NaN,(B100)국토통계_인구정보-고령 인구 수(전체)-(격자) 250M_전라남도 장성군...,C:/Users/yttn0/Desktop/drug/고령 데이터_250M/(B100)...
2951,43,833,833,한재약국,"전라남도 담양군 대전면 추성1로 190,",061-383-2896,126.887137,35.276294,08:30~13:00,08:30~13:00,...,0,2,1,3000,59718,다라43ab96aa,NaN,0.0,(B100)국토통계_인구정보-고령 인구 수(전체)-(격자) 250M_전라남도 장성군...,C:/Users/yttn0/Desktop/drug/고령 데이터_250M/(B100)...
2952,43,833,833,한재약국,"전라남도 담양군 대전면 추성1로 190,",061-383-2896,126.887137,35.276294,08:30~13:00,08:30~13:00,...,0,2,1,3000,59719,다라43ab96ab,NaN,0.0,(B100)국토통계_인구정보-고령 인구 수(전체)-(격자) 250M_전라남도 장성군...,C:/Users/yttn0/Desktop/drug/고령 데이터_250M/(B100)...
2953,43,833,833,한재약국,"전라남도 담양군 대전면 추성1로 190,",061-383-2896,126.887137,35.276294,08:30~13:00,08:30~13:00,...,0,2,1,3000,59720,다라43ba95ab,NaN,NaN,(B100)국토통계_인구정보-고령 인구 수(전체)-(격자) 250M_전라남도 장성군...,C:/Users/yttn0/Desktop/drug/고령 데이터_250M/(B100)...
2954,43,833,833,한재약국,"전라남도 담양군 대전면 추성1로 190,",061-383-2896,126.887137,35.276294,08:30~13:00,08:30~13:00,...,0,2,1,3000,59721,다라43ba95ba,NaN,NaN,(B100)국토통계_인구정보-고령 인구 수(전체)-(격자) 250M_전라남도 장성군...,C:/Users/yttn0/Desktop/drug/고령 데이터_250M/(B100)...

In [20]:
damyang_older_3km = damyang_older_3km.fillna(0)

In [21]:
damyang_older_3km.groupby('약국명_y').sum('val')

,fid,field_1,Unnamed: 0,좌표정보(X),좌표정보(Y),CLUSTER_ID,CLUSTER_SIZE,ringId,distance,fid_2,lbl,val
약국명_y,,,,,,,,,,,,
고서약국,908,19068,19068,57646.084225,15991.412114,454,908,454,1362000,7629154,1488.0,1488.0
담양유명약국,3514,72790,72790,63719.766763,17721.504805,1004,1004,502,1506000,9561756,2043.0,2043.0
수북좋은약국,9538,214856,214856,63719.130929,17721.700886,1004,1004,502,1506000,9561099,1984.0,1984.0
우리약국,11450,260602,260602,58154.126350,16132.233249,458,916,458,1374000,7698177,1495.0,1495.0
태원약국,19277,394397,394397,66108.617365,18379.157626,0,1042,521,1563000,12594360,1664.0,1664.0
한재약국,22274,431494,431494,65727.536862,18273.120551,0,1036,518,1554000,12715887,1583.0,1583.0

In [24]:
sinan_access = pd.read_csv('datanew/약국_신안_접근성.csv',encoding='cp949')
sinan_access

,fid,field_1,Unnamed: 0,약국명_y,주소_y,전화번호,좌표정보(X),좌표정보(Y),월요일 운영,화요일 운영,...,목요일 운영,금요일 운영,토요일 운영,일요일 운영,공휴일 운영,CLUSTER_ID,CLUSTER_SIZE,ringId,distance,NUMPOINTS
0,4,67,67,구영약국,전라남도 신안군 암태면 중부로 1820-4,061-271-4287,126.114575,34.828926,08:00~20:00,08:00~20:00,...,08:00~20:00,08:00~20:00,08:00~13:00,-,-,2,1,1,1000,8
1,18,393,393,세명약국,"전라남도 신안군 비금면 송치길 155-19,",061-275-7588,125.932763,34.721212,08:00~21:00,08:00~21:00,...,08:00~21:00,08:00~21:00,08:00~17:00,-,-,0,1,1,1000,6
2,27,594,594,유한약국,"전라남도 신안군 임자면 임자로 146,",061-275-8288,126.107186,35.086467,08:00~18:00,08:00~18:00,...,08:00~18:00,08:00~18:00,08:00~13:00,-,-,1,1,1,1000,7