access_healthA : 보건소 접근성

access_healthB : 보건지소 접근성

access_healthC : 보건진료소 접근성

In [4]:
import pandas as pd
import numpy as np

## 경로당, 마을회관 전처리

In [117]:
access_welfare_DamYang = pd.read_csv('qgis/담양군마을회관_접근성.csv',encoding='cp949')
access_welfare_ShinAhn = pd.read_csv('qgis/신안군마을회관_접근성.csv',encoding='cp949')
access_welfare_HamPyeong = pd.read_csv('qgis/함평군경로당_접근성.csv',encoding='cp949')
access_healthA = pd.read_csv('qgis/보건소_접근성.csv',encoding='cp949')
access_healthB = pd.read_csv('qgis/보건지소_접근성.csv',encoding='cp949')
access_healthC = pd.read_csv('qgis/보건진료소_접근성.csv',encoding='cp949')
# access_drugstore_DamYang = pd.read_csv('qgis/신안군마을회관_접근성.csv',encoding='cp949')
# access_drugstore_ShinAhn = pd.read_csv('qgis/신안군마을회관_접근성.csv',encoding='cp949')
# access_drugstore_HamPyeong = pd.read_csv('qgis/신안군마을회관_접근성.csv',encoding='cp949')

In [118]:
print(access_welfare_DamYang.keys())
print(access_welfare_HamPyeong.keys())
print(access_welfare_ShinAhn.keys())

Index(['fid', '시도명', '시군구명', '읍면명', '회관명', '소재지', 'Latitude', 'Longitude',
       '규모(제곱미터)', '데이터기준일자', 'ringId', 'distance', 'NUMPOINTS'],
      dtype='object')
Index(['fid', '경로당명', '주소', 'Latitude', 'Longitude', '연락처', 'ringId',
       'distance', 'NUMPOINTS'],
      dtype='object')
Index(['fid', '마을회관명', '소재지도로명주소', 'Latitude', 'Longitude', '회원수', '대표자',
       '대지면적', '건축면적', '데이터기준일자', 'ringId', 'distance', 'NUMPOINTS'],
      dtype='object')

In [119]:
access_welfare_DamYang.rename(columns={'회관명':'name','시군구명':'city'},inplace=True)
access_welfare_ShinAhn.rename(columns={'마을회관명':'name'},inplace=True)
access_welfare_HamPyeong.rename(columns={'경로당명':'name'},inplace=True)

In [120]:
access_welfare_ShinAhn['city'] = '신안군'
access_welfare_HamPyeong['city'] = '함평군'

In [121]:
access_welfare_DamYang = access_welfare_DamYang[['name','city','Latitude','Longitude','NUMPOINTS']]
access_welfare_ShinAhn = access_welfare_ShinAhn[['name','city','Latitude','Longitude','NUMPOINTS']]
access_welfare_HamPyeong = access_welfare_HamPyeong[['name','city','Latitude','Longitude','NUMPOINTS']]

In [122]:
print(access_welfare_DamYang.keys())
print(access_welfare_HamPyeong.keys())
print(access_welfare_ShinAhn.keys())

Index(['name', 'city', 'Latitude', 'Longitude', 'NUMPOINTS'], dtype='object')
Index(['name', 'city', 'Latitude', 'Longitude', 'NUMPOINTS'], dtype='object')
Index(['name', 'city', 'Latitude', 'Longitude', 'NUMPOINTS'], dtype='object')

## 보건소, 보건지소, 보건진료소 전처리

In [123]:
access_healthA = pd.read_csv('qgis/보건소_접근성.csv',encoding='cp949')
access_healthB = pd.read_csv('qgis/보건지소_접근성.csv',encoding='cp949')
access_healthC = pd.read_csv('qgis/보건진료소_접근성.csv',encoding='cp949')

In [124]:
print(access_healthA.keys())
print(access_healthB.keys())
print(access_healthC.keys())

Index(['fid', '보건소명', 'Latitude', 'Longitude', '일반전화', '팩스', '우편번호', '도로명주소',
       '위치', '데이터기준일자', 'ringId', 'distance', 'NUMPOINTS'],
      dtype='object')
Index(['fid', '연번', '시군명', '기관장', '기관명', '소재지 (도로명 주소)', 'Latitude',
       'Longitude', '전화번호', '진료과목', '진료시간', '비고', '데이터기준일자', 'ringId',
       'distance', 'NUMPOINTS'],
      dtype='object')
Index(['fid', '연번', '시군명', '기관장', '기관명', '소재지 (도로명 주소)', 'Latitude',
       'Longitude', '전화번호', '진료과목', '진료시간', '비고', '데이터기준일자', 'ringId',
       'distance', 'NUMPOINTS'],
      dtype='object')

In [125]:
access_healthA.rename(columns={'보건소명':'name'},inplace=True)
access_healthB.rename(columns={'기관명':'name','시군명':'city'},inplace=True)
access_healthC.rename(columns={'기관명':'name','시군명':'city'},inplace=True)

In [126]:
access_healthA

,fid,name,Latitude,Longitude,일반전화,팩스,우편번호,도로명주소,위치,데이터기준일자,ringId,distance,NUMPOINTS
0,22,신안군보건소,34.833572,126.352547,061-271-1004,061-240-8000,58827,전라남도 신안군 압해읍 천사로 1004,압해대교 끝 좌회전,2021/08/01,1,1000,7

In [127]:
access_healthA['city'] = '신안군'

In [128]:
access_healthA = access_healthA[['name','city','Latitude','Longitude','NUMPOINTS']]
access_healthB = access_healthB[['name','city','Latitude','Longitude','NUMPOINTS']]
access_healthC = access_healthC[['name','city','Latitude','Longitude','NUMPOINTS']]

In [129]:
print(access_healthA.keys())
print(access_healthB.keys())
print(access_healthC.keys())

Index(['name', 'city', 'Latitude', 'Longitude', 'NUMPOINTS'], dtype='object')
Index(['name', 'city', 'Latitude', 'Longitude', 'NUMPOINTS'], dtype='object')
Index(['name', 'city', 'Latitude', 'Longitude', 'NUMPOINTS'], dtype='object')

## 약국 전처리

In [130]:
access_drugstore_DamYang = pd.read_csv('qgis/약국_담양_접근성.csv',encoding='cp949')
access_drugstore_ShinAhn = pd.read_csv('qgis/약국_신안_접근성.csv',encoding='cp949')
access_drugstore_HamPyeong = pd.read_csv('qgis/약국_함평_접근성.csv',encoding='cp949')

In [131]:
print(access_drugstore_DamYang.keys())
print(access_drugstore_HamPyeong.keys())
print(access_drugstore_ShinAhn.keys())

Index(['fid', 'field_1', 'Unnamed: 0', '약국명_y', '주소_y', '전화번호', '좌표정보(X)',
       '좌표정보(Y)', '월요일 운영', '화요일 운영', '수요일 운영', '목요일 운영', '금요일 운영', '토요일 운영',
       '일요일 운영', '공휴일 운영', 'CLUSTER_ID', 'CLUSTER_SIZE', 'ringId', 'distance',
       'NUMPOINTS'],
      dtype='object')
Index(['fid', 'field_1', 'Unnamed: 0', '약국명_y', '주소_y', '전화번호', '좌표정보(X)',
       '좌표정보(Y)', '월요일 운영', '화요일 운영', '수요일 운영', '목요일 운영', '금요일 운영', '토요일 운영',
       '일요일 운영', '공휴일 운영', 'CLUSTER_ID', 'CLUSTER_SIZE', 'ringId', 'distance',
       'NUMPOINTS'],
      dtype='object')
Index(['fid', 'field_1', 'Unnamed: 0', '약국명_y', '주소_y', '전화번호', '좌표정보(X)',
       '좌표정보(Y)', '월요일 운영', '화요일 운영', '수요일 운영', '목요일 운영', '금요일 운영', '토요일 운영',
       '일요일 운영', '공휴일 운영', 'CLUSTER_ID', 'CLUSTER_SIZE', 'ringId', 'distance',
       'NUMPOINTS'],
      dtype='object')

In [132]:
access_drugstore_DamYang.rename(columns={'약국명_y':'name','좌표정보(X)':'Longitude','좌표정보(Y)':'Latitude'},inplace=True)
access_drugstore_HamPyeong.rename(columns={'약국명_y':'name','좌표정보(X)':'Longitude','좌표정보(Y)':'Latitude'},inplace=True)
access_drugstore_ShinAhn.rename(columns={'약국명_y':'name','좌표정보(X)':'Longitude','좌표정보(Y)':'Latitude'},inplace=True)
access_drugstore_DamYang['city'] = '담양군'
access_drugstore_HamPyeong['city'] = '함평군'
access_drugstore_ShinAhn['city'] = '신안군'

In [133]:
access_drugstore_DamYang = access_drugstore_DamYang[['name','city','Latitude','Longitude','NUMPOINTS']]
access_drugstore_HamPyeong = access_drugstore_HamPyeong[['name','city','Latitude','Longitude','NUMPOINTS']]
access_drugstore_ShinAhn =access_drugstore_ShinAhn[['name','city','Latitude','Longitude','NUMPOINTS']]
print(access_drugstore_DamYang.keys())
print(access_drugstore_HamPyeong.keys())
print(access_drugstore_ShinAhn.keys())

Index(['name', 'city', 'Latitude', 'Longitude', 'NUMPOINTS'], dtype='object')
Index(['name', 'city', 'Latitude', 'Longitude', 'NUMPOINTS'], dtype='object')
Index(['name', 'city', 'Latitude', 'Longitude', 'NUMPOINTS'], dtype='object')

In [134]:
# 신안에서 NULL값 발견
access_welfare_ShinAhn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 393 entries, 0 to 392
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       393 non-null    object
 1   city       393 non-null    object
 2   Latitude   79 non-null     float64
 3   Longitude  79 non-null     float64
 4   NUMPOINTS  393 non-null    int64
dtypes: float64(2), int64(1), object(2)
memory usage: 15.5+ KB

In [135]:
all = pd.read_csv('qgis/2차_전체병합_접근성.csv',encoding='cp949')

In [136]:
all.keys()

Index(['fid', 'field_1', 'Unnamed: 0', '약국명_y', '주소_y', '전화번호', '좌표정보(X)',
       '좌표정보(Y)', '월요일 운영', '화요일 운영', '수요일 운영', '목요일 운영', '금요일 운영', '토요일 운영',
       '일요일 운영', '공휴일 운영', '시도명', '시군구명', '읍면명', '회관명', '소재지', 'Latitude',
       'Longitude', '규모(제곱미터)', '데이터기준일자', '마을회관명', '소재지도로명주소', '회원수', '대표자',
       '대지면적', '건축면적', '경로당명', '주소', '연락처', '연번', '명칭', '관장', '시설소재지', '시설설치일',
       '위탁 또는 운영단체', '보건소명', '일반전화', '팩스', '우편번호', '도로명주소', '위치', '시군명', '기관장',
       '기관명', '소재지 (도로명 주소)', '진료과목', '진료시간', '비고', 'layer', 'path', 'ringId',
       'distance', 'NUMPOINTS'],
      dtype='object')

In [137]:
all = all[all.layer == '경로당_신안'][['마을회관명','Latitude','Longitude','NUMPOINTS']]
all

      마을회관명   Latitude   Longitude  NUMPOINTS
714     원심동  35.098625  126.191315         12
715      당촌  35.043330  126.152232          3
716  선도(진변)  34.976943  126.269537          0
717     태천1  35.035199  126.242300          2
718      둔곡  35.085599  126.217201          0
..      ...        ...         ...        ...
788     가룡3  34.907635  126.287333          1
789     복룡2  34.899009  126.325698          4
790      가란  34.874143  126.365690          0
791      숭의  34.860998  126.351278          3
792      마산  34.952552  126.249209          0

[79 rows x 4 columns]

In [138]:
access_welfare_ShinAhn = all.copy()
access_welfare_ShinAhn['city'] = '신안군'
access_welfare_ShinAhn.rename(columns={'마을회관명':'name'},inplace=True)
access_welfare_ShinAhn.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 79 entries, 714 to 792
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       79 non-null     object
 1   Latitude   79 non-null     float64
 2   Longitude  79 non-null     float64
 3   NUMPOINTS  79 non-null     int64
 4   city       79 non-null     object
dtypes: float64(2), int64(1), object(2)
memory usage: 3.7+ KB

In [139]:
# 병합
access = pd.concat([access_welfare_DamYang,access_welfare_ShinAhn,access_welfare_HamPyeong,
                   access_healthA,access_healthB,access_healthC,
                   access_drugstore_DamYang,access_drugstore_ShinAhn,access_drugstore_HamPyeong],
                   axis=0,
                   ignore_index=True)

In [140]:
access.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 815 entries, 0 to 814
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       815 non-null    object
 1   city       815 non-null    object
 2   Latitude   814 non-null    float64
 3   Longitude  814 non-null    float64
 4   NUMPOINTS  815 non-null    int64
dtypes: float64(2), int64(1), object(2)
memory usage: 32.0+ KB

In [141]:
access.dropna(inplace=True)
access.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 814 entries, 0 to 814
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       814 non-null    object
 1   city       814 non-null    object
 2   Latitude   814 non-null    float64
 3   Longitude  814 non-null    float64
 4   NUMPOINTS  814 non-null    int64
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ KB

In [147]:
access.to_csv('qgis/접근성.csv',encoding='cp949')